// ========== Alignments ========== //



.alignleft,
.alignright {
	float: none !important;
	margin: 0 auto $mobile-spacing !important;
	max-width: 100%;
}

.alignleft {
	@include media(ms) {
		float: left !important;
		margin: 0 $mobile-spacing $mobile-spacing 0 !important;
		max-width: calc(50%);
	}
}

.alignright {
	@include media(ms) {
		float: right !important;
		margin: 0 0 $mobile-spacing $mobile-spacing !important;
		max-width: calc(50%);
	}
}

.aligncenter,
.alignwide,
.alignfull {
	margin-left: auto;
	margin-right: auto;
	@include media(ms) {max-width: calc(65%);}
}



// ===== Wide & Full Alignments ===== //
.nolayout,
.full-width-content {

	.alignwide {
		margin: 0 calc(50% - 50vw);
		max-width: 100vw;
		width: auto;
		@include media(ms) {margin: 0 calc(50% - 50vw);}
		@include media(l) {margin: 0 calc(25% - 25vw);}
	}

	.alignfull {
		margin: 0 calc(50% - 50vw);
		max-width: 100vw;
		width: 100vw;
		@include media(ms) {margin: 0 calc(50% - 50vw);}
	}
}
