// ========== Body ========== //

body {
	background-color: $light-grey;
	color: $color--text-dark;
	font-family: $font-stack--primary;
	font-size: $body--font-size;
	line-height: $body--line-height;
}

a {
	color: $color--link-dark;
	text-decoration: none;
	@extend %transition;
	&:focus, &:hover {
		color: $color--link-dark-hover;
		text-decoration: underline;
	}
}

img {height: auto;}
