// ========== Layout ========== //



// ===== Spacing ===== //

    $mobile-spacing         : 15px;
    $desktop-spacing        : 30px;

// ===== Site Inner Options ===== //

    // Max Width – none, 1280px, 1100px, etc...
    $content-sidebar-wrap--max-width            : 1280px; 
    $entry-content--max-width                   : 800px;

    // Only applied when a layout with a sidebar is used.
    $content-sidebar-wrap--margin               : $desktop-spacing * 2 auto $desktop-spacing * 2;
    $sidebar--max-width                         : 350px;
    