// ========== Primary Navigation ========== //

.nav-primary {
	background: white;
	@include media($navigation__breakpoint) {}



	// ========== Top Level Menu ========== //

		.genesis-nav-menu {
			justify-content: center;
			max-width: 1280px;
		}

		// Menu Items.
		.genesis-nav-menu > .menu-item {

			& > a {
				color: $color--text-dark;
				font-size: 18px;
				font-weight: bold;
				padding: 15px;
				@include media($navigation__breakpoint) {}
			}
		}



	// ========== Sub Level Menu ========== //

		.sub-menu {
			background: white;
			@include media($navigation__breakpoint) {}
		}

		// Menu Items.
		.sub-menu > .menu-item {
			
			& > a {
				color: $color--text-dark;
				font-size: 16px;
				font-weight: normal;
				padding: 15px;
				@include media($navigation__breakpoint) {}
			}
		}



	// ========== Menu Item Effects ========== //

		// Currently viewing.
		.genesis-nav-menu .current-menu-item > a,
		.sub-menu .current-menu-item > a {

			&:hover,
			&:focus {}
		}

		// Hover and focus. (Must use mixin to properly apply styles. This allows for the sfHover styles to only be applied on desktop screens.)
		@mixin menu-item-hover-effects {
			color: $color--link-dark-hover;
			background: $color--quaternary;
		}

		.menu-item a:hover,
		.menu-item a:focus {@include menu-item-hover-effects;}
		@include media($navigation__breakpoint) {.menu-item.sfHover > a {@include menu-item-hover-effects;}}
}