// ========== Entry Meta ========== //

.entry-footer {
	margin-bottom: $desktop-spacing;

	.entry-meta {
		border-top: 2px solid $color--quaternary;
		padding-top: 5px;
		margin: 0;
	}
}

.entry-categories,
.entry-tags {
	display: block;
}