// ========== Site Inner Blocked ========== //

.content,
.sidebar .widget {
    background: $light-grey;
    @include space(padding, all); 
}

.full-width-content .content {
    background: none;
    padding: 0;
}
