// ========== Main SCSS ========== //

@import 'utilities/index';
@import 'base/index';
@import 'components/index';
@import 'plugins/index';
@import 'partials/index';
@import 'templates/index';






/*
.site-container {
	animation: fadein 1s; // Add this to animations later
	word-wrap: break-word;
}

@keyframes fadein {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

.site-inner {}*/



/* Media Queries
---------------------------------------------------------------------------- */

@media only screen and (min-width: 600px) {

	/* Site Header
	--------------------------------------------- */

	// .site-header {
	// 	position: fixed;
	// 	width: 100%;
	// 	z-index: 9999;
	// }

	/* Genesis Menu
	--------------------------------------------- */


	
}