// ========== Notice Box ========== //



.notice-box {
	background: $light-grey;
	text-align: center;
	padding: 20px 30px;
	border-left: 5px solid $color--secondary;
	border-right: 5px solid $color--secondary;
}