// ========== Forms ========== //

input,
select,
textarea {
	background-color: white;
	border: 1px solid $grey;
	color: $color--text-dark;
	padding: 15px;
	width: 100%;
}

input:focus,
select:focus,
textarea:focus {
	border: 1px solid $color--secondary;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder,
:-ms-input-placeholder {
	color: #333;
	opacity: 1;
}

::placeholder {
	color: #333;
	opacity: 1;
}

// Edit button styles in the Button Block.
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	cursor: pointer;
	text-align: center;
	width: auto;
	@extend %button-styles;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: $light-grey;
	color: #777;
	cursor: not-allowed;
	border: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}