// ========== Headings ========== //

h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack--secondary;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 $mobile-spacing - 5px;
}

h1 {font-size: 32px;}
h2 {font-size: 26px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 19px;}
h6 {font-size: 18px;}

@include media(ml) {
	h1 {font-size: 42px;}
	h2 {font-size: 36px;}
	h3 {font-size: 32px;}
	h4 {font-size: 30px;}
	h5 {font-size: 29px;}
	h6 {font-size: 28px;}
}