// ========== Lists ========== //

ol, ul {margin: 0; padding: 0;}

li {list-style-type: none;}

.entry-content ol,
.entry-content ul {
	@include space(margin, tb);
	padding-left: 40px;

	ol > li {list-style-type: decimal;}
	ul > li {list-style-type: disc;}

	ol, ul {margin: 0 0 $mobile-spacing;}
	ol > li, ul > li {list-style-type: circle;}
}