// ========== Separators ========== //

hr,
.wp-block-separator {
	border: none;
	border-collapse: collapse;
	border-top: 2px solid;
	clear: both;
	margin: $desktop-spacing * 2 auto !important;
	max-width: 35%;

	&.is-style-wide {
		margin: $desktop-spacing * 2 0 !important;
		max-width: none;
	}

	&.is-style-dots {
		margin: $desktop-spacing * 2 0 !important;
		max-width: none;
		border-top: none;
		&:before {
			font-size: 36px;
			text-align: center;
			padding-left: 30px;
			letter-spacing: 30px;
			@include media(l) {padding-left: 50px; letter-spacing: 50px;}
		}
	}
}