// ========== Padding & Margin Mixin ========== //



// TO USE: "@include space(padding, all);"

$m : $mobile-spacing;
$d : $desktop-spacing;

@mixin space( $type, $sides ) {



	@if $type == "padding" and $sides == "all" {
		padding: $m;
		@include media(ms) {padding: $d;}
	}
	@else if $type == "padding" and $sides == "tb" {
		padding-top: $m;
		padding-bottom: $m;
		@include media(ms) {padding-top: $d; padding-bottom: $d;}
	}
	@else if $type == "padding" and $sides == "rl" {
		padding-right: $m;
		padding-left: $m;
		@include media(ms) {padding-right: $d; padding-left: $d;}
	}
	@else if $type == "padding" and $sides == "t" {
		padding-top: $m;
		@include media(ms) {padding-top: $d;}
	}
	@else if $type == "padding" and $sides == "r" {
		padding-right: $m;
		@include media(ms) {padding-right: $d;}
	}
	@else if $type == "padding" and $sides == "b" {
		padding-bottom: $m;
		@include media(ms) {padding-bottom: $d;}
	}
	@else if $type == "padding" and $sides == "l" {
		padding-left: $m;
		@include media(ms) {padding-left: $d;}
	}



	@if $type == "margin" and $sides == "all" {
		margin: $m;
		@include media(ms) {margin: $d;}
	}
	@else if $type == "margin" and $sides == "tb" {
		margin-top: $m;
		margin-bottom: $m;
		@include media(ms) {margin-top: $d; margin-bottom: $d;}
	}
	@else if $type == "margin" and $sides == "rl" {
		margin-right: $m;
		margin-left: $m;
		@include media(ms) {margin-right: $d; margin-left: $d;}
	}
	@else if $type == "margin" and $sides == "t" {
		margin-top: $m;
		@include media(ms) {margin-top: $d;}
	}
	@else if $type == "margin" and $sides == "r" {
		margin-right: $m;
		@include media(ms) {margin-right: $d;}
	}
	@else if $type == "margin" and $sides == "b" {
		margin-bottom: $m;
		@include media(ms) {margin-bottom: $d;}
	}
	@else if $type == "margin" and $sides == "l" {
		margin-left: $m;
		@include media(ms) {margin-left: $d;}
	}
}

.padding-none {padding: 0;};
.padding-all {@include space(padding, all)};
.padding-tb {@include space(padding, tb)};
.padding-rl {@include space(padding, rl)};
.padding-t {@include space(padding, t)};
.padding-r {@include space(padding, r)};
.padding-b {@include space(padding, b)};
.padding-l {@include space(padding, l)};

.margin-none {margin: 0;};
.margin-all {@include space(margin, all)};
.margin-tb {@include space(margin, tb)};
.margin-rl {@include space(margin, rl)};
.margin-t {@include space(margin, t)};
.margin-r {@include space(margin, r)};
.margin-b {@include space(margin, b)};
.margin-l {@include space(margin, l)};