// ========== Base ========== //

.entry-content > *:last-child {margin-bottom: 0;}

.entry > *,
.entry-comments,
.comment-respond {

	max-width: $entry-content--max-width;
	margin-left: auto;
	margin-right: auto;

	& > *:first-child {margin-top: 0;}
}

